/* style_desktop.css */


#window {

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -101;

}

#menu {

	position: absolute;
	left: 0px;
	width: 20%;
	height: 100%;
	background-color: rgb(0,173,239);
	z-index: 100;

}

#img_logo {

	width: 110%;
	height: auto;
	margin-top: 10%;

}

.pad {

	width: 1px;
	height: 1px;
	margin: 10%;
	line-height: 40px;

}

#nav {
	-webkit-transform: skewY(-9.5deg);
}

.nav_btn {

	display: block;
	color: rgba(255,255,255,0.5);
	font-weight: 400;
	width: 110%;
	background-color: rgba(255,255,255,0.0);
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	cursor: pointer;
	transition: background-color 0.3s;

}

.nav_btn:hover {

	background-color: rgba(255,255,255,1);
	color: rgb(0,173,239);

}

#wrapper {

	position: absolute;
	top: 0px;
	width: 80%;
	height: 100%;
	margin-left: 20%;
	/*background-color: rgba(0,173,239,0.2);*/
	background-color: rgba(0,0,0,0.7);
	z-index: -100;

}

#content_wrapper {



}

#home_content {
	display: block;
}
.content {

	position:absolute;
	width: 87%;
	height: 95%;
	color: #FFF;
	position: absolute;
	margin-left: 10%;
	margin-top: 20px;
}
.body_text {
	position: absolute;
	overflow-y: auto;
	height: 80%;
	width: 100%;
	padding-right: 10px;

}

#tour_content {
	display: none;
}

#bio_content {
	display: none;
}

#merch_content {
	display: none;
}

#music_content {
	display: none;
}

.title {

	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
}

.body_text {
	color: #DDD;
	font-family: 'Montserrat';
	font-weight: 400;
}

#logotype {

	position: absolute;
	bottom: 0px;
	margin-left: 22%;
	width: 76%;
	margin-bottom: 10px;

}

#logotype_img {

	position: relative;
	width: 100%;
	height: auto;
	opacity: 0.2;
}

#video_underlay {
	position: absolute;
	z-index: -101;
	margin-left: 20%;
	top: 0px;
	width: 80%;
	height: 100%;
	overflow: hidden;
	display: none;
}

#more_video {

	position: relative;
	height: 110%;
	width: 110%;
	z-index: -1000;
	top: -40px;
}

/* webkit */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.1); 
    border: 0px;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgb(0,172,239);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(255,255,255);
}

#ie_div {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #111;
	color: #FFF;
	z-index: 1000;

}

.ie_h1 {

	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 6em;
	color: rgb(0,179,236);

}

.ie_body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: -5em;
	color: rgb(0,179,236);

}

#logo_ie {
	margin-top: 50px;
	width: 300px;
}