/* style_common.css */

/* { border: 1px solid red;} /**/

body {
	
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image:url('http://famousforacentury.com/img/bg.png');
	font-family: Helvetica, Arial, sans-serif;

}
